MYSQL_PASSWORD=adcdef12345
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
PUID=1000
PGID=27
MYSQL_ROOT_PASSWORD=adcdef12345
TZ=Europe/Paris
STACK_NAME=nextcloud
ORG_NAME=org
DOMAIN=example.com
NEXTCLOUD_HTTPS_PORT=8443
NEXTCLOUD_HTTP_PORT=8080
MARIADB_PORT=3306
PMA_ARBITRARY=1
PMA_HTTP_PORT=8081
COMPOSE_FILE="compose.yml"
COMPOSE_FILE="$COMPOSE_FILE:compose.traefik.yml"